:root {
    --purple-dark: #6A4B9D;
    --purple-medium: #7D51C2;
    --purple-light: #A478B8;
    --gray-light: #F7F7F7;
    --white: #FFFFFF;
    --gray-clear: #F0F3F2;
    --button-primary: #BEBEBE;
    --button-borde: #707070;
    --section-background: #F0F3F2;
    --yellow: #FFC200;
}